* {
    box-sizing: border-box;
}

#es {
    min-height: calc(100vh - 60px);
    background: #f4f4f4;
}

#es .es-header {
    background: #2a4466;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 100;
    display: flex;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

#es .es-header .header-content {
    width: 1000px;
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
}

#es .es-header .logo {
    color: #fff;
    flex: 0 0 250px;
    padding: 13px 20px;
    margin-right: 15px;
    line-height: 18px;
    font-size: 18px;
}

#es .es-header .search-box {
    background: hsla(0, 0%, 100%, .15);
    border-radius: 3px;
    position: relative;
    display: flex;
    flex: 1;
}

#es .es-header .search-icon {
    margin: 0 0 0 15px;
    font-size: 20px;
    opacity: .6;
    line-height: 40px;
}

#es .es-header .search-text {
    box-shadow: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    padding: 10px 20px;
    width: 100%;
    flex: 3;
    border: none;
    height: auto;
    line-height: normal;
}

#es .es-content {
    max-width: 1000px;
    display: flex;
    margin: 60px auto 0;
    min-width: 600px;
}

#es .es-sider {
    background: #fff;
    padding: 15px;
    margin: 15px 0 15px 15px;
    flex: 0 0 246px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .08);
    min-height: calc(100vh - 90px);
}

#es .es-sider .filter {
    margin-bottom: 20px;
}

#es .es-sider .filter-title {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 14px;
    color: #000;
}

#es .es-sider .filter-content {
    flex: auto;
    font-size: 14px;
    color: #666;
}

#es .filter-content input {
    margin-right: 5px;
    position: relative;
    top: 2px;
}

#es .es-main {
    padding: 15px 15px 0;
    background: #fff;
    margin: 15px;
    flex: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .08);
    min-height: 600px;
}

#es .es-main .total {
    height: 30px;
    line-height: 30px;
    color: #777;
}

#es .es-main .options {
    display: flex;
    align-content: center;
    text-align: center;
    border-radius: 3px;
    max-height: 30px;
    margin-right: 20px;
}

#es .es-main .option {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: #000;
    padding: 5px 10px;
    line-height: 20px;
}

#es .es-main .option1 {
    border-right: none;
    border-radius: 3px 0 0 3px;
}

#es .es-main .option2 {
    background-color: #08c;
    color: #fff;
    border-color: #08c;
    border-radius: 0 3px 3px 0;
}

#es .es-main .list {
    padding: 20px 0;
}

#es .es-main .list-item {
    margin-bottom: 20px;
    display: flex;
}

#es .list-item .item-info {
    flex: 1 0 0;
    padding: 10px;
}

#es .list-item .item-name {
    line-height: 20px;
    margin: 0 0 5px;
    font-size: 18px;
    color: #08c;
    font-weight: bold;
    text-decoration: underline;
}

#es .list-item .item-level {
    line-height: 20px;
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: bold;
}

#es .list-item .item-time {
    line-height: 20px;
    font-size: 14px;
    color: #666;
    font-weight: 300;
    margin: 0 0 5px;
}

#es .list-item .item-desc {
    line-height: 22px;
    max-width: 800px;
}

#test {
    width: 20%;
    height: 0;
    margin: 0 auto;
    padding-bottom: 20%;
    position: relative;
}