/*
 *文件名 : index.less
 *作者 : 刘哲
 *创建时间 : 2020/8/17
 *文件描述 : ElasticSearch样式
 */

body {
  height: auto !important;
}

* {
  box-sizing: border-box;
}

#es {
  background: #f4f4f4;

  .es-header {
    background: #2a4466;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    z-index: 999;
    display: flex;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);

    .header-content {
      width: 1200px;
      display: flex;
      margin: 0 auto;
      padding: 0 15px;

      .logo {
        color: #fff;
        flex: 0 0 246px;
        margin-right: 15px;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
      }

      .search-box {
        border-radius: 3px;
        display: flex;
        flex: 1;

        .ant-input-search {
          width: 100%;
          background: hsla(0, 0%, 100%, 0.15);
          border: none;

          .ant-input {
            background: transparent;
            color: #fff;

            &::-webkit-input-placeholder {
              color: #ccc;
            }

            &:-moz-placeholder {
              color: #ccc;
            }

            &::-moz-placeholder {
              color: #ccc;
            }

            &::-ms-input-placeholder {
              color: #ccc;
            }
          }

          &-icon::before {
            border: none;
          }

          .anticon-search {
            font-size: 20px;
            opacity: 0.6;
          }
        }

        .ant-input-affix-wrapper:focus,
        .ant-input-affix-wrapper-focused {
          background: #fff;
          border: none;
          outline: 0;
          box-shadow: none;

          .ant-input {
            background: transparent;
            color: #000;

            &::-webkit-input-placeholder {
              color: #999;
            }

            &:-moz-placeholder {
              color: #999;
            }

            &::-moz-placeholder {
              color: #999;
            }

            &::-ms-input-placeholder {
              color: #999;
            }
          }
        }

        .search-icon {
          margin: 0 0 0 15px;
          font-size: 20px;
          opacity: 0.6;
          line-height: 40px;
        }

        .search-text {
          box-shadow: none;
          background: transparent;
          color: #fff;
          font-size: 16px;
          padding-left: 10px;
          padding: 10px 20px;
          width: 100%;
          flex: 3;
          border: none;
          height: auto;
          line-height: normal;
        }
      }
    }
  }

  .es-content {
    max-width: 1200px;
    display: flex;
    margin: 60px auto 0;
    min-width: 820px;

    .es-sider {
      background: #fff;
      padding: 15px;
      margin: 15px 0 15px 15px;
      flex: 0 0 246px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
      min-height: calc(100vh - 90px);

      .filter {
        margin-bottom: 20px;

        &-title {
          margin-bottom: 5px;
          font-weight: 700;
          font-size: 14px;
          color: #000;

          .clear-option {
            color: #08c;
            cursor: pointer;
            font-weight: 500;
            float: right;
          }
        }

        &-content {
          flex: auto;
          font-size: 14px;
          color: #666;

          .ant-checkbox-wrapper {
            display: block;
            margin-bottom: 2px;
          }

          .ant-radio-wrapper {
            display: block;
            margin-bottom: 2px;
          }
        }

        .span-link {
          color: #08c;
          cursor: pointer;
        }
      }
    }

    .es-main {
      padding: 20px 20px 0;
      background: #fff;
      margin: 15px;
      flex: auto;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
      min-height: 600px;

      .total {
        height: 30px;
        line-height: 30px;
        color: #777;
      }

      .options {
        height: 32px;
        /*margin-right: 20px;*/
        cursor: pointer;

        .option {
          width: 54px;
          color: #000;
          background-color: #fff;
          line-height: 30px;
          text-align: center;
          display: inline-block;
          transition: all 0.5s;
          border: 1px solid #ccc;

          &:nth-child(1) {
            border-radius: 3px 0 0 3px;
          }

          &:nth-child(2) {
            border-left: none;
            border-right: none;
          }

          &:nth-child(3) {
            border-radius: 0 3px 3px 0;
          }
        }

        .option-active {
          color: #fff;
          background-color: #08c;
          border-color: #08c;
        }
      }

      .filters {
        &-clear {
          color: #08c;
          padding-left: 15px;
          cursor: pointer;
        }
      }

      .hits-item {
        padding: 20px 0;

        .highlight {
          background: yellow;
        }

        .amap-container {

          .amap-logo,
          .amap-copyright {
            display: none !important;
          }

          .amap-scale-text {
            color: #fff;
            font-size: 12px;
          }
        }


        .marker {
          width: 16px;
          height: 16px;

          .circle {
            height: 16px;
            border-radius: 50%;
            background-color: red;

            &:before {
              content: "";
              display: block;
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background-color: #fff;
              position: relative;
              top: 5px;
              left: 5px;
            }
          }

          .tran {
            width: 0;
            height: 0;
            border-radius: 50%;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            border-top: 10px solid red;
            position: relative;
            top: -5px;
          }
        }

        .list {
          &-item {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;

            &-name {
              line-height: 32px;
              font-size: 18px;
              color: #08c;
              font-weight: bold;
              text-decoration: underline;
            }

            p {
              margin-bottom: 0;
            }

            &-magnitude {
              line-height: 24px;
              font-size: 16px;
              font-weight: bold;
            }

            &-time {
              line-height: 24px;
              font-size: 16px;
            }

            &-desc {
              line-height: 20px;
              max-width: 800px;
            }
          }
        }

        .grid {
          margin: 0 -10px;

          &-item {
            vertical-align: top;
            display: inline-block;
            width: 33.333333%;
            padding: 0 10px;
            margin-bottom: 20px;

            &-name {
              line-height: 32px;
              font-size: 18px;
              color: #08c;
              font-weight: bold;
              text-decoration: underline;
            }

            p {
              margin-bottom: 0;
            }

            &-magnitude {
              line-height: 24px;
              font-size: 16px;
              font-weight: bold;
            }

            &-time {
              line-height: 24px;
              font-size: 16px;
            }

            &-desc {
              line-height: 20px;
              max-width: 800px;
            }
          }
        }

        .table {
          .ant-table-thead>tr>th {
            padding: 0;
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: bold;
          }

          .ant-table-tbody>tr>td {
            padding: 16px 0;
          }
        }

        .ant-skeleton {
          margin-bottom: 20px;
        }

        .skeleton-list {
          display: flex;
          justify-content: space-between;

          .ant-skeleton-active {
            max-width: 50%;
          }

          .ant-skeleton-element {
            width: 360px;
            height: 150px;
            max-width: 50%;

            .ant-skeleton-image {
              width: 100%;
              height: 100%;
            }
          }
        }

        .skeleton-grid {
          width: 33.333333%;
          display: inline-block;
          padding: 0 10px;
          margin-bottom: 20px;

          .ant-skeleton-element {
            width: 100%;
            height: 160px;

            .ant-skeleton-image {
              width: 100%;
              height: 100%;
            }
          }
        }

        .skeleton-table {
          margin-bottom: 68px;

          .ant-skeleton-input-sm {
            height: 22px;
          }

          &-head {
            padding: 16px;
            background-color: #ddd;
            border-bottom: 1px solid #f0f0f0;

            .ant-skeleton-element {
              width: 100%;
              margin-bottom: 0;
            }
          }

          &-item {
            padding: 16px 0;
            border-bottom: 1px solid #f0f0f0;

            .ant-skeleton-element {
              width: 100%;
              margin-bottom: 0;
            }
          }
        }

        .ant-pagination {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

.ant-picker-range,
.ant-picker-panel-container {
  width: 100%;

  .ant-picker-panels {
    width: 100%;

    .ant-picker-panel {
      width: 100%;

      .ant-picker-time-panel {
        width: calc(100% - 280px);
      }
    }
  }
}

.ant-drawer .ant-col {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width:998px) {
  #es .es-content .es-main .hits-item .grid-item {
    width: 50%;
  }
}